.Product {
    position: relative; 
    margin-left: -16%;
    margin-right: -12%;
    padding-top: 120px;
 }

 .Product .lander1 {
    width: 100%;
    font-weight: 100;
    background-color: white;
    height: 600px;
    align-content: center;
  
  }
  .Product .lander1 h2{
     padding-bottom: 40px;
     font-size: 35px;
     width: 70%;
     padding-left: 30%;
  }
  
 .Product .lander1 p{
    color: rgb(93, 165, 189);
    font-size: 17px;
    font-weight: 700;
 }
  .Product .lander1 img{
   padding-left: 13%;
   padding-right: 7%;
}

  .Product .lander2 {
   padding-top: 150px;
   width: 100%;
   font-weight: 100;
   background-color: whitesmoke;
   height: 570px;
   align-content: center;
   
 
  }
  .Product .lander2 img{
   padding-top: 50px;
}

.Product .lander8 {
   padding-top: 130px;
   width: 100%;
   font-weight: 100;
   background-color: white;
   height: 440px;
   align-content: center;
 
  }
  .Product .lander8 h1{
   padding-bottom: 70px;
}

.Product .lander9{
padding-top: 20px;
}
  .Product .btn {
   font-weight: 630;
   background-color: rgb(93, 165, 189);
   font-size: small;
   color: white;
   
  
 
  }